{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>InternList</title>

    <link rel="stylesheet" href="{% static "css/simplex-bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/styles.css" %}"/>

</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">InternList</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="../help/">Help</a>
            </li>
            <li>
              <a href="http://news.bootswatch.com">Blog</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://builtwithbootstrap.com/" target="_blank">Contact Us</a></li>
          </ul>

        </div>
      </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <h1 class="slogan">Build something big.</h1>
            <h1 class="slogan">Do cool things that matter.</h1>
            <h1 class="slogan">Empower your future.</h1>
            <h1 class="slogan">Work with purpose.</h1>
            <h1 class="punchline">Find a summer internship. </h1>
        </div>
        <div class="col-lg-4">
            <div class="row logo-row">
                <div class="col-lg-3">
                    <img class="logo" src="{% static "logos/facebook.png" %}" />

                </div>
                <div class="col-lg-3">
                    <img class="logo" src="{% static "logos/quora-icon.png" %}" />
                </div>
                <div class="col-lg-3">
                    <img class="logo" src="{% static "logos/linkedin.png" %}" />
                </div>
                 <div class="col-lg-3">
                    <img class="logo" src="{% static "logos/dropbox.png" %}" />
                </div>
            </div>
            <div class="row logo-row">
                <div class="col-lg-3">
                    <img class="logo" src="{% static "logos/palantir.png" %}" />
                </div>
                <div class="col-lg-3">
                    <img class="logo" src="{% static "logos/uber.png" %}" />
                </div>
                <div class="col-lg-3">
                    <img class="logo" src="{% static "logos/airbnb.png" %}" />
                </div>
                <div class="col-lg-3">
                    <img class="logo" src="{% static "logos/apple.png" %}" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <p class="lead">InternList is a curated list of internships in the technology industry designed to help every student
                find the opportunity that excites them the most.</p>
        </div>
    </div>

</div>

</body>
</html>